.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backLink {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    color: white;
    z-index: 1000;
}