.container {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

.zoomContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}


.drawingContainer {
    display: flex;
    position: relative;
    justify-content: center;
}


.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.controlsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.image {
    cursor:none;
    position:absolute;
    z-index: 5;
}

.cross {
    cursor:none;
    position:absolute;
    z-index: 6;
}

.radius {
    cursor:none;
    position:absolute;
    z-index: 7;
}

.draw {
    cursor:none;
    position:absolute;
    z-index: 8;
}