.container {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

.zoomContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}


.drawingContainer {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 15px;
}
.drawingSubContainer {
    display: flex;
    position: relative;
}

.contourList {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 15px;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.controlsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.image {
    cursor:none;
    position:absolute;
    z-index: 1;
}

.savedContours {
    cursor:none;
    position:absolute;
    z-index: 2;
}

.radius {
    cursor:none;
    position:absolute;
    z-index: 3;
}

.draw {
    cursor:none;
    position:absolute;
    z-index: 4;
}

.crossHair {
    cursor:none;
    position:absolute;
    z-index: 5;
}