.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableHeader {
    color: rgba(255, 255, 255, 0.46);
    background-color: #181818;
}

.tableBody {
    color: #ffffff;
    background-color: #181818;
}

.tableBodyRow {
    color: #ffffff!important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1)!important;
}
