.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    padding-left: 12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    width: 100%;
    cursor: pointer
}

.icon {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.controls {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
