.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d3349;
  width: 180px;
  height: 250px;
}

.container h2 {
  text-align: -webkit-center;
  font-size: 2rem;
}

.container a {
  padding: 10px;
  font-size: 0.7rem;
}
