.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.contourLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 150px;
}

.contourRight {
    padding-left: 15px;
    padding-right: 15px;
    width: 150px;
    max-height: 260px;
    overflow-y: scroll;
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
}

.draw {
    position:absolute;
}

.containerTable {
    height: 125px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}


.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.iconHolder {
    opacity: 0.6;
}

.iconHolder > svg > g > use {
    stroke: rgba(0, 0, 0, 0.68);
}

.iconHolder > svg > g > path {
    stroke: rgba(0, 0, 0, 0.68);
}

.iconMessage {
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.68);
}

.tableHeading {
    padding: 15px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}