.container {
    /*background-color: rgba(0, 1, 127, .7);*/
    /*background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));*/
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 5px;
}

.body {
    /*flex: 0 1 auto;*/
    /*margin: 0 0.2em;*/
}

.footer {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    padding: -10px;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.body:hover ~ .close {
    opacity: 1;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    margin: 10px;
    transition: opacity 1s;
}

.close svg {
    color: white!important;
}