.container {
    position: relative!important;
    align-items: center!important;
    min-width: 79px!important;
    height: 79px!important;
    margin: 4px!important;
    border: none!important;
    padding: 0!important;
    border-radius: 2px!important;
    background-color: #313131!important;
}
.container > div {
    position: relative!important;
    width: 79px!important;
    height: 79px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icon {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    box-sizing: border-box;
    flex: 0 0 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Roboto, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.68);
}

.text {
    margin-left: 0.5em;
    margin-right: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
